nav.navbar.navbar-toggleable-sm
  button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  img(src='/images/c1.png', width='40', height='40')
  a.navbar-brand(href='/') SuperCaly
  ul.navbar-nav.mr-auto
  ul.navbar-nav
    li.nav-item.active
      a.nav-link(href='/#carouselExampleIndicators')
        | Features 
        span.sr-only (current)
    li.nav-item
      a.nav-link(href='/tutorial') Tutorial
    li.nav-item
      a.nav-link(href='/#aboutus') About
    li.nav-item
      a.nav-link(href='/#download') Download
