extend layout

block content
  include navbar.jade
  #tutorialdemo.row
    .col-md-1
    .col-md-10
      .justify-content-center ---Get Started---
      p Follow these simple steps and explore a whole new way to organise your daily routine affairs:
      p 1. Download SuperCaly apk on your phone. Once you've done that, click on the downloaded file to start the installation process.
        br
        | 2. Accept the terms and conditions to get started.
        br
        | 3. Sign Up and Sign In
        p To enjoy all the location tracking features, sign in with your google account. For a detailed tutorial.. 
          a.text-primary(href='') Click Here!
    .col-md-1
  #aboutus.row
    .col-md-12 ABOUT SUPERCALY
      .col-md-12
        br
        p.text-white What is SuperCaly?
        | SuperCaly, derived from "Super Calendar", is a mobile-based calendar application designed for both android and IOS environments.
        | While the key idea of SuperCaly is derived from a traditional Calendar application, it is much more powerful. In addition to the functionality of
        | creating events and sending invites, SuperCaly extends this basic functionality of
        | a calendar app and provides features like:
        br
        | ● Organised Event View
        br
        | ● Auto-location event generation
        br
        | ● Map-View of the calendar events
        br
        | ● Auto-sync of google events
        br
        | ● Convenient content search
        br
        | ● Functionality to chat
        br
        br
        p.text-white Our Goal
        p The primary thought behind the creation of SuperCaly was to create an application that will help people organise life better, by providing them with all means and information needs.
        p.text-white Team SuperCaly
        p ● |  Professor Ilmi Yoon | ●  Gary Ng | ●  Haichuan Duan  | ●  Xuejing Dong  | ●  Rujoota Shah  | ●  Anu Aggarwal  | ●  Cheng Li  | ●
  footer.footer.text-muted &copy; SuperCaly