extend layout

block content
  include navbar.jade
  .row
    .col-md-2
      .left
        .container
          a.navbar-brand(href='#')  Get Started 
          ul.nav.navbar-nav.ml-auto
            li.nav-item.active
              a.nav-link(href='#') Home
            li.nav-item
              a.nav-link(href='#') Link
            li.nav-item
              a.nav-link(href='#') Link
          ul.nav.navbar-nav
            li.nav-item
              a.nav-link(href='#') Link on the Right
    .col-md-10
      #tutorialdemo.row  hello wohkdjhgk
  footer.footer.text-muted &copy; SuperCaly