body {
  background-image:url("/images/splash1.png");
  background-position: -200px -300px;
  background-repeat: repeat;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.ft{
    color:#006080;
    text-align:left;
    font-family:‘Lucida Console’, Monaco, monospace;
    font-weight:600;
}

h3
{
    color:black;
    text-align:right;
}

#imagebg
{
    opacity:0.3;
}

#download
{ 
    background-color:#3ca2c3;
    color: white;
}

#tutorialdemo
{
    padding : 1rem;
    background-color: #d8ecf3;
    color: slategrey;
}

#aboutus
{
    padding : 1rem;
    background-color: #b1d9e7;
    color: #2F4F4F;
}

.left {
  margin-top:50px;
  position:relative; // keep fixed to window
  padding: 10px;
  top: 0; left: 0; // position to top left of window
  height:100%; //set dimensions
  background:darkslategray;
  transition: width ease .5s; 
  width:100%; 
}

.tutorialimg
{
    width:45rem;
    height:25rem;
    text-align:center;
}